

.container-custom{
background: linear-gradient(60deg, rgba(65, 0, 255, 0.4) 20%, rgba(255, 0, 232, 0.3));
width:100%;
min-height:90vh;
/*position:relative;*/

}

#main-text{
	font-size:470%;
	font-weight:500;
	margin:0px;
	padding-top:20vh;
	color:white;
}

p{
	font-size:140%;
	margin:20px;
	align-self:center;
	-webkit-align-self:center;
}
