

.container-custom{
background-image:url(../static/about_us3.png);
width:100%;
min-height:90vh;
/*position:relative;*/

}

#main-text{
	font-size:470%;
	font-weight:500;
	margin:0px;
	padding-top:20vh;
	color:white;
}

p{
	font-size:140%;
	margin:20px;
	align-self:center;
	-webkit-align-self:center;
}
