<!DOCTYPE html>
<html>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title>
		Privacy Policies | Datsme
	</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../css/main.css">
<!-- <link rel="stylesheet" type="text/css" href="../css/css/media-queries.css"> -->
<link rel="stylesheet" type="text/css" href="../css/team_css.css">

    <!-- ICON -->
  <link rel="apple-touch-icon" sizes="57x57" href="icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- ICON OVER -->
</head>

<body style="font-family:'Quicksand','Helvetica Neue',Helvetica,Arial,sans-serif;margin:0px;">
<div id="top-4" class="container-team" style="background-image: url(../static/privacy_policies.jpg);">
     <div align="right">
    <button type="button" class="btn btn-info btn-lg" style="margin:1.5vw;">Download</button>
    </div>
    <a href="../main.html"><img id="logo-top-team" style="position:absolute;left:-2vw;top:5vh;z-index:2;width:15vw;height:15vh;" src="../static/logo_round.svg"></a>
         <h1 id="main-text" align="center" style="color:white;margin-top:20vh;">Privacy Policies<h2 style="font-size:180%;color:white;"align="center">TL:DR Your data is protected and never misused.</h2></h1><br><br>
     <div align="center" id="team-links">
          <a href="https://www.facebook.com/Datsme.io/"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
    <div style="z-index:10000;margin-top:-10vh;margin-left:90vw!important;position:fixed!important;"><a id="corner-up" href="#top-4"><img style="height:5vh!important;width:5vw!important;" src="../static/up_arrow.svg"></a></div>
<!-- MAIN BODY -->
<div class="container">
  <h1 id="big-heading" style="color:black!important;margin-top:20vh;">1. The Information Collected by Datsme</h1>
  <br>
  <p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">The information collected by Datsme is used for the proper functioning of the app. The term “information”  includes the information that is entered by the “User”( for the exact meaning of the term refer to our Terms of  Use) and the information that we collect automatically.
 </p><br><br>
   <h2 id="big-heading" style="color:black!important;">Data shared by the User directly</h2>
  <p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">The Use of our Application entails the User sharing some information which helps in identifying the User. Submitting the information, the User agrees that some of the Information may be visible to other users of the application. Datsme cannot be held liable for any data that is submitted by the user and made public by the user. Unless Specified, the information in the following subsection is ‘public’, meaning that the information is visible to all the users of the app in a particular/more than one sections of the app. <br><br>The information that is shared by the User includes the following data: <br><br><br>

1.The Profile photo: The User has to upload a photo that can be uploaded from the device or the Google drive of the User. A resized version of the Photo will be used as a marker to display the Users location on the app. The picture may also be used in any other sections of the App as deemed fit by Datsme. <br><br>
2.Birthdate: The User has to enter his/her birthdate from which the age of the User will be calculated and displayed on the profile page of the user. <br><br>
3.Gender <br><br>
4.First and last name <br><br>
5.About me: The User has to enter information about himself/herself that he would like to see on the profile page. <br> <br>
6.Place: The city in which the User is currently residing/looking for compatible people <br><br>
7.Responses to the questionnaire ( Private) <br><br>
The above information is mandatory to use the Datsme App. If the User fails to enter the above information, the User won't be able to enjoy any of the features of the Datsme app.

 </p><br><br>
   <h2 id="big-heading" style="color:black!important;">Data collected when you contact Datsme </h2>
<p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">
  Datsme may ask for additional information when you contact the Datsme customer support service, participate in any promo, game, contest or survey, give any testimony of using the Datsme app. 

</p>

   <h2 id="big-heading" style="color:black!important;">Data collected by Datsme automatically</h2>
<p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">
  When the User uses the Datsme app, the following information is collected by Datsme <br><br>
     <h2 id="big-heading" style="color:black!important;">a) Data from the activity</h2><br><br><p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">
     This is the data collected from the use of Application by the User. It consists of data such as the date of registration of the User with Datsme, the last use of the Datsme app and data that tells us about the number of interactions of the user on the app (like the no. of friend requests received/sent), the third party accounts (such as Facebook and Google+) connected to your account and the digital transactions that are performed by the User on the Datsme app( for example the subscription of premium services).</p>
      
          <h2 id="big-heading" style="color:black!important;">b) Location </h2><br><br>
     <p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">Location is the central tenet of the Datsme app. Users need to be visible on the map for the other users to find them. To ensure the privacy of the Users, Datsme has two major features: <br><br><br>
     1.The Users are grouped into clusters (as far as possible) ensuring that the location of one specific User is not exposed. <br><br>
2.In case the User is at an isolated location and cannot be grouped into a cluster, an additional safety feature has been provided i.e. the limiting of the zoom level of the map. This is done so that any other User may not be able to decipher the exact location of the User easily. <br><br>By using the Datsme app, you are giving us your consent to use your exact location. You can revoke this consent by choosing to disable the location feature on your Smartphone, in which case your last location will be displayed on the map. If the User wishes to remove himself/herself from the map, he can proceed to the “Take a break” option in the settings page of the Datsme app. In this case, the User won't be able to Use any of the features of the Datsme app and the User won't have any presence on the Datsme app.
</p>
          <h2 id="big-heading" style="color:black!important;">c) Transaction data
</h2><br><br>
     <p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">Location Datsme is not involved in collecting or processing any bank data. The data is processed by the Google play store and Datsme doesn't have any power to change the payment methods. The only Data that is exchanged between the Play Store and Datsme are technical details that help us in confirming that the transactions have taken place.
</p>
          <h2 id="big-heading" style="color:black!important;">d) Messaging Data
</h2><br><br>
     <p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">Messaging data is strictly private. Only the individuals involved in the conversation are implicated. The User can only send messages to the people who have accepted his/her friend request. Datsme does not engage in viewing these conversations, except in case of judicial proceedings. The messaging data is not shared with any other User or third party.</p>

               <h2 id="big-heading" style="color:black!important;">e) Equipment and Device data
</h2><br><br>
     <p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">Datsme collects data from the devices/equipment that the User uses to engage with the Datsme app. The data includes information like IP addresses, version of the application, mobile model, mobile ID, language used, operating system, application crashes, and advertisement ID. Datsme does not have access to the browser history of the User. Cookies may be used to collect data.</p>
</p>

               <h2 id="big-heading" style="color:black!important;">2. Usage of Data 
</h2><br><br>
     <p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">Datsme collects data for the smooth experience of the User. The data collected is used for the following purposes: <br><br><br>
    a) Creating your Datsme Account <br><br>
    b) Sending Notifications <br><br>
    c) Managing the interactions and messages between users <br><br> 
    d) Getting your live location <br><br>
    e) Sending newsletters/promotional material from Datsme or its partners. <br><br><br>

The data collected also helps Datsme improve its services. Various statistical studies and market surveys maybe performed for the above-mentioned purpose. 

The User can withdraw from the app--in case they don't want their data to be processed. However, this does not mean that Datsme will be held liable for any of the data processed before the user withdraws from the app. <br>

Datsme may process the Users data on legal request or to comply with its legal, regulatory, judicial, or administrative obligations. <br>

Datsme can process a Users personal data in case of any breach of Terms of Use by the User or to prevent fraudulent activities. <br><br><br>



     </p>
                    <h2 id="big-heading" style="color:black!important;">3. Data sharing
</h2><br><br>
     <p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">Datsme only provides selected authorized employees to access data for the purposes defined in the above article. <br><br>

Datsme may enter into agreements with third parties who may process a User's personal data. These partners help us in improving our services. <br><br>

Datsme may be required to share its User data in case of any corporate operation that includes but is not limited to merger and acquisition, transfer of control in the company or the termination of the company
 <br><br><br>
</p>

                    <h2 id="big-heading" style="color:black!important;">4. Contact
</h2><br><br>
     <p style="font-size:150%;max-width:100vw;margin-left:14vw;" align="left">If you have any problems or queries with regards to your privacy, you can contact us in the following ways: <br><br>

      1.) Send a mail to <b>datsmeofficial@gmail.com</b> <br><br>

2.) Send a letter to TBI 419, NSUT, Dwarka, New Delhi, India <br><br>


</p>
</div>



<div class="container" style="margin-top:10vh!important;"align="center">
  <h1 id="big-heading" style="color:black!important;">With Datsme, we are changing the world, by changing <b>your</b> world.</h1>
  <hr style="margin-left:46vw;width:7%;background:black;border-radius:5px;height:2px;" align="center">
  <h1 id="big-heading" style="margin-left:15vw;font-size:160%;">Get started with Datsme</h1>
  <img src="../static/google-play-badge.png" style="margin-left:14.5vw;display:inline-flex;">
            
</div>

<!-- THE FOOTER -->
<div id="footer" style="padding-top:5vh;padding-bottom:30vh;background:linear-gradient(to right,rgba(129,113,237,1),rgba(200,113,235,1) 80%);margin:0px;">
  <div class="col-md-3">
  <h1 id="footer-text"><b>Company</b></h1>
  <a id="footer-pages" href='team.html'>Meet the Team</a>
  </div>
  <div class="col-md-3">
  <h1 id="footer-text">Product</h1>
  <div class="row" style="margin-left:0.1vh;"><a id="footer-pages" href="../main.html">Home</a></div>
  <div class="row"style="margin-left:0.1vh;"><a id="footer-pages" href="about_us.html">About</a></div>
  </div>
  <div class="col-md-3">
  <h1 id="footer-text">Legal</a></h1>
  <div class="row">
  <a id="footer-pages" href='privacy_policies.html' style="margin-left:2.5vh;">Privacy Policies</a>
  </div><div class="row">
  <a id="footer-pages" href='terms_of_use.html' style="margin-left:2.5vh;margin-bottom:5vh!important;">Terms and Conditions</a>
</div>
  </div>
  <div class="col-md-3">
  <h1 id="footer-text" style="margin-bottom:5vh!important;">Social</a></h1>
  <a href="https://www.facebook.com/Datsme.io/"><i style="margin-left:1vw;font-size:3.2vh;padding:0px;width:0px;" class="fab fa-facebook-f"></i></a>
  <a href="#"><i style="margin-left:1vw;font-size:3.2vh;padding:0px;width:0px;" class="fab fa-instagram"></i></a>
  </div>
</b>
</div>
<div class="copyright" style="font-size:70%;color:white;background:linear-gradient(to right,rgba(100,113,237,1),rgba(201,113,235,1) 50%);padding-top:10px;padding-bottom:10px;padding-left:50px;padding-right:50px;">©️ Different Angle 42 Pvt. Ltd.</div>
<script src="../js/smooth_scroll.js"></script>  
<style>
	a:hover {
  text-decoration: underline;
}
</style>
</body>
</html>