<!DOCTYPE html>
<html>
<head>
	<title>The Team | Datsmine</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/team_css.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<!-- <link rel="stylesheet" type="text/css" href="../css/css/media-queries.css"> -->
	<link rel="stylesheet" type="text/css" href="../css/css2.css">
</head>
<body style="margin:0px;background-image: url(../static/round.png);">
	<div class="container-team">
		 <div align="right">
		<button type="button" class="btn btn-info btn-lg" style="margin:1.5vw;">Download</button>
		</div>
    <a href="../main.html"><img style="position:absolute;left:-2vw;top:5vh;z-index:2;width:15vw;height:15vh;" src="../static/logo_round.svg"></a>
         <h1 id="main-text" align="center">The Team<h2 style="font-size:180%;color:white;"align="center">Meet the people who made this possible</h2></h1><br><br>
		 <div align="center" id="team-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
		</div>
	</div>
<figure class="snip1336"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample69.jpg" alt="sample69" />
  <figcaption>
    <img src="../static/sushant.png" class="profile" />
    <h2>Sushant Singh<span>CO-FOUNDER</span></h2>
    <p>He is a passionate entrepreneur hailing from NSIT Delhi who oversees engineering strategies including technical vision</p>

  </figcaption>
       <div id="social"align="center" style="margin-top:10vh;">
          <!-- <a href="#"><i class="fab fa-facebook-f fab2"></i></a> -->
          <a href="#"><i class="fab fa-linkedin-in fab2"></i></a>
          <!-- <a href="#"><i class="fab fa-instagram fab2"></i></a> -->
          <a href="#"><i class="fab fa-twitter fab2"></i></a>
    </div>
</figure>

	<figure class="snip1336">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
  <figcaption>
    <img src="../static/harshvardhan.png" class="profile" />
    <h2>Harshvardhan<span>CO-FOUNDER</span></h2>
    <p>He is an energized young entrepreneur who is fascinated towards achieving glorious destinity with profound derterminations. He is in NSIT persuing instrumentation and control engineering. He overlook technological and marketing strategies.</p>


  </figcaption>
  		 <div id="social"align="center">
          <!-- <a href="#"><i class="fab fa-facebook-f fab2"></i></a> -->
          <a href="#"><i class="fab fa-linkedin-in fab2"></i></a>
          <!-- <a href="#"><i class="fab fa-instagram fab2"></i></a> -->
          <a href="#"><i class="fab fa-twitter fab2"></i></a>
		</div>
</figure>

<figure class="snip1336 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample74" />
  <figcaption>
    <img src="../static/keshav.png" class="profile" />
    <h2>Keshav Vinayak<span>Web Developer</span></h2>
    <p>He is the developer of this site.He is a passionate engineer hailing from USICT, GGSIPU who loves doing his work</p>
  </figcaption>
  		 <div id="social"align="center"style="margin-top:10vh;">
          <!-- <a href="#"><i class="fab fa-facebook-f fab2"></i></a> -->
          <a href="#"><i class="fab fa-linkedin-in fab2"></i></a>
          <!-- <a href="#"><i class="fab fa-instagram fab2"></i></a> -->
          <a href="#"><i class="fab fa-twitter fab2"></i></a>
		</div>
</figure>
<br>
<div class="container" style="margin-top:50vh;"align="center">
  <h1 id="big-heading">With Datsme, we are changing the world, by changing <b>your</b> world.</h1>
  <hr style="width:7%;background:black;border-radius:5px;height:2px;" align="center">
  <h1 id="big-heading" style="font-size:160%;">Get started with Datsme</h1>
  <img src="../static/google-play-badge.png" style="display: inline-flex;">
            
</div>

<!-- THE FOOTER -->

<div id="footer" style="background:linear-gradient(60deg, #f45fe7 10%, #43c4f3, #7043f3);margin:0px;">
  <div align="center">
  <a href="../main.html"><img id="footer-logo" src="../static/logo_white.svg"></a>
  </div>
  <div class="row-md-5" style="margin-top:4vh;">
    
    <div class="col-md-3" id="footer-text">
      <a href='about_us.html' style="font-size:140%;margin-left:5vw;">About us</a>
    </div>
    <div class="col-md-3" id="footer-text"">
      <a href='#' style="font-size:140%;margin-left:5vw;">Meet the Team</a>
    </div>
    <div class="col-md-3" id="footer-text"">
      <a href='#' style="font-size:140%;margin-left:5vw;"> Privacy Policies</a>
    </div>
    <div class="col-md-3" id="footer-text">
      <a href='#' style="font-size:140%;margin-left:5vw;"> Terms of Use</a> 
    </div>        
    <br><br><br>
  </div>


</div>

<script>
	/* Demo purposes only */
$(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);
/* Demo purposes only */
$(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);

</script>
</body>
</html>